*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page3,
#page6{
  margin-bottom: 5%;
}
.centerStuff{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  justify-items: center;
}
.solidBorder{
  border: 2px;
  border-style: solid;

}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 1%;
}
h1,
h2{
  margin-bottom: 3%;
}
body{
  background-color: antiquewhite;
}
.gameForm{
  padding-top: 0.5%;
}
.unitRadioForm{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;  

}
.unitDescription{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width:20%
}
.unitSelectionForm{
  display:flex;
  flex-direction:row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.gameForm form{
  display:flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
input{
  padding: 1%;
}
#boardGame
{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin-left: 1%;
    background-color: antiquewhite;
    width: 100%;
}

.gameMenu
{
  width:25%;
  height: 40rem;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    border-style: solid;
}
.deployMenu
{
    width:100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-style: solid;
}
button{
 cursor:pointer;
 padding:5px;
 box-shadow:3px 3px 1px rgba(0, 0, 0, 0.7) ;
  border-radius: 5px; 
}
.deployMenu button
{width: 80%;
  
}
.ButtonMenu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
}
#CommandMenu{
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding:2%;
  border-style: solid;
  background-color: aliceblue;
}
#board,
.deployboard{
    width:33%;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: flex-start;
    justify-items: center;
    flex-direction: column;
    margin:0 1%

}
  td{
    width: 12%;
    position: relative;
  }
  table {
    width: 100%;
    height:100%
  }
  .white:after,
  .grey:after{
    content: '';
    display: block;
    margin-top: 100%;
  }
  td .square {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
.hide{
    display: none;
    visibility: hidden;
}
.grey{
    background-color: rgba(8, 7, 7, 0.5);
    color:rgba(255, 255, 255, 0.5);
    width: 12%;
    position: relative;
}
.white{
    background-color: white;
    color: rgba(255, 0, 0, 0.5);
    width: 12%;
    position: relative;
}
.coordinates{
    width: 1%;
    background-color: rgba(0, 0, 0,0.1);
    color: white;
    text-align: center;
}
.x-y{
    background-color:aqua
}
.spaceSelected{
border-style: solid;
border-color: blue;
border: 5%;
z-index: 16;
}
.charSelected{
  border-style: solid;
border-color: rgb(255, 0, 0);
border: 5%;
z-index: 15;

}

span{
  color: red;
  font-weight: 800;

}
button{
  margin-top: 2%;
}

.armyRemoval{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

}
.armyShow{
  border-style: solid;
  border: 2px;
}

.square img{
  
  width: 130%;
}

#gameMatchPage{
display: flex;
flex-direction: column;
}
#upperLog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 0.2%;
}
#upperLog h2{
  margin: 0;
}

#lowerRowButtons{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
}
.spaceBarBtn{
  width:15%;
}
.mouseBtn{
  width:7%;
}
.arrowBtn{
  width: 15%;
}
.ESCBtn{
  width: 9%;
}
.PBtn{
  width: 9%;
}
.WASDBtn{
  width:15%;

}
.emptySpaceImg{
  width: 25%;
}
#selectedSpaceInformation,
#activeCharInformation{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  align-items: center;
  border: 1%;
  border-style: solid;
  width: 80%;
  height: 40%;
  background-color: aliceblue;
  box-shadow: 10px 5px 5px black;
}
.instructions{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  justify-items: center;
  padding: 0% 2% 4% 2%;
  text-align: center;
}
#turnChange{
  position: absolute;
  bottom: 40%;
  left: 35.5%;
  text-align: center;
  width: 32%;
  border: 10px solid #ad2121;
  font-size: 5rem;
  z-index: 100;
}

#activateUnitBtn,
#attackBtn{
  padding:3%;
  background-color:darkgrey;
  width: 70%;
}
#endTurnBtn,
#endUnitActivationBtn{
  background-color:#ad2121;
  width: 70%;
  padding: 2%
}
#turnMenu{
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
}
#activationMenu{
  display: flex;
  position:relative;
  top:-25%;
  flex-direction: column;
  align-items: center;
}
#leftMenuBoard{
  display: flex;
  justify-items: center;
  align-content:space-between;
  align-items: center;
  justify-content: center;
}
.armyDeploy
{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin-left: 1%;
    background-color: antiquewhite;
    width: 100%;
}
#board h2{
  font-size: 2rem;
  text-align: center;
}