*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 4%;
}
h1,
h2{
  margin-bottom: 3%;
}
.gameForm{
  padding-top: 6%;
}
.gameForm form{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
input{
  padding: 1%;
}
#boardGame,
.armyDeploy
{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 2%;
    background-color: antiquewhite;
    width: 100%;
}
#gameMenu{
  width:30%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-style: solid;
}
.deployMenu
{
    width:100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-style: solid;
}
.leftMenu{
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
}
#board,
.deployboard{
    width:100%;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: flex-start;
    justify-items: center;
    flex-direction: column;

}
  td{
    width: 12%;
    position: relative;
  }
  table {
    width: 60%;
    height:60%
  }
  .white:after,
  .grey:after{
    content: '';
    display: block;
    margin-top: 100%;
  }
  td .square {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
.hide{
    display: none;
    visibility: hidden;
}
.grey{
    background-color: rgba(8, 7, 7, 0.5);
    color:rgba(255, 255, 255, 0.5);
    width: 12%;
    position: relative;
}
.white{
    background-color: white;
    color: rgba(255, 0, 0, 0.5);
    width: 12%;
    position: relative;
}
.coordinates{
    width: 1%;
    background-color: rgba(0, 0, 0,0.1);
    color: white;
    text-align: center;
}
.x-y{
    background-color:aqua
}
.spaceSelected{
border-style: solid;
border-color: blue;
border: 5%;
}
.charSelected{
  border-style: solid;
border-color: rgb(255, 0, 0);
border: 5%;

}

span{
  color: red;
  font-weight: 800;

}
button{
  margin-top: 2%;
}

.armyRemoval{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

}
.armyShow{
  border-style: solid;
  border: 2px;
}

.square img{
  
  width: 130%;
}